.titulosHistoriaEdificios {
    display: flex;
    flex-direction: column;
    align-items:  center;
    color: white;
}

.tituloChichen{
    font-size: 50px;
    text-shadow: 0.05em -0.02em #333;

}

.contenedorHistoria {
    display: flex;
    flex-direction: row;
    padding: 0px 25px ;
    border: 25px;
}

.contenedorListaEdificios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorListaEdificios ul {
    border: solid 2px;
    margin: 25px 150px 100px;
    height: 236px;
    width: 530px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.contenedorListaEdificios ul li {
    padding: 5px 0px;
    width: 250px;
    margin-left: 15px;
}

.contenedorTextoEdificios {
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 722px;
}

.contenedorTextoEdificios2 {
    display: flex;
    flex-direction: column;
    width: 590px;
    height: 650px;
}

.contenedorEdificios{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 1300px;
    margin: 0px 10px ;
}

.contenedorMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px ;
    border: 25px;
    margin-top: 25px;
}

.textoHistoria {
    padding: 0px 25px;
}

.imgH1 {
    margin-top: 40px;
    width: 653PX;
    height: 400PX;
    margin-right: 25px;
}

.imgH2{
    margin-top: 25px;
    width: 600px;
    height: 380px;
    margin-left: 25px;
}

.imgH3 {
    width: 750px;
    height: 550px;
    padding-bottom: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(rgb(96, 112, 87), rgb(0, 104, 0) , rgba(96,112, 87));
    border: 15px solid white;
}

.textoHistoria-Edificios {
    font-size: bold 15px;
    font-weight: bold;
    line-height: 20px;
}

.textocentrado {
    font-size:20px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.imgEdificios {
    width: 550px;
    height: 310px;
    margin-top: 15px;
    padding-right: 25px;
}

.nombreEdificios{
    font-size: 20px;
}

.enlacesEstilos {
    color: white;
}

.enlacesEstilos:hover{
    color: black;
    font-weight: bold;
}