
  body {
    font-family: "montserrat";
  }
  
  .contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  }
  
  .titulo {
    color:white;
    font: size 30px;
    text-align: center;
    margin-bottom: 60px;
  }
  
  header {
    width: 100% ;
    height:100%;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  
  div nav {
      text-align: right;
      padding: 20px;
      position: fixed;
      margin-left: 68%;
  }
  
  nav a {
      color: white;
      font-weight: 300;
      text-decoration: none;
      background-color: grey;
      border: solid black;
      padding: 5px;
  }
  
  
  .imagen-home{
      display:block;
      margin-left: auto;
      margin-right: auto;
      
  }
  nav > a:hover{
     
      text-decoration: underline;
  }
  
  
  .textos-header h1{
      font-size: 50px;
      color: white;
  }
  
  .textos-header h2{
      font-size: 30px;
      font-weight: 300;
  color: white
  }
  
  header .textos-header{
  display:flex;
  height:430;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  }
  
  .textos-home{
      font-size: 30px;
      font-weight: 300;
  color: white
  }

  .logo {
    display: flex;
    justify-content: center;
  }

.titulosHistoriaEdificios {
    display: flex;
    flex-direction: column;
    align-items:  center;
    color: green;
}

.tituloChichen{
    font-size: 50px;
    text-shadow: 0.05em -0.02em black;

}

.contenedorHistoria {
    display: flex;
    flex-direction: row;
    padding: 0px 25px ;
    border: 25px;
    margin-bottom: 15px;
}

.contenedorListaEdificios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorListaEdificios ul {
    border: solid 2px;
    margin: 25px 150px 100px;
    padding-bottom: 20px;
    height: 236px;
    width: 530px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.contenedorListaEdificios ul li {
    padding: 5px 0px;
    width: 250px;
    margin-left: 15px;
}

.contenedorTextoEdificios {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 650px;
    box-sizing: border-box;
}


.contenedorEdificios{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;

}

.contenedorMapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px ;
    border: 25px;
    margin-top: 25px;
}

.textoHistoria {
    padding: 0px 25px;
}

.imgH1 {
    margin-top: 20px;
    width: 653px;
    height: 450px;
    margin-right: 25px;
}

.imgH2{
    margin-top: 15px;
    width: 600px;
    height: 400px;
    margin-left: 25px;
}

.imgH3 {
    width: 750px;
    height: 550px;
    padding-bottom: 10px;
}

.fondoHistoriaEdificios {
    font-family: 'Nunito', sans-serif;
    background-color: rgb(200, 191, 191);
    font-size: 16px;
    border: 15px solid white;
    margin: 0px;
}

.textoHistoria-Edificios {
    font-size: bold 15px;
    font-weight: bold;
    line-height: 20px;
}

.textocentrado {
    font-size:20px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.imgEdificios {
    width: 550px;
    height: 310px;
    margin-top: 15px;
    padding-right: 25px;
}

.nombreEdificios{
    font-size: 20px;
}

.enlacesEstilos {
    color: rgb(13, 82, 13);
}

.enlacesEstilos:hover{
    color: black;
    font-weight: bold;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 550px;
    padding-left: 96.5%;
}

div nav {
    text-align: right;
    padding: 20px;
    position: fixed;
    margin-left: 67%;
}

nav a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    background-color: grey;
    border: solid black;
    padding: 5px;
}

